
<% provide(:title, 'Contact') %>
  	<h1>Contact</h1>
	<p>
  		Get conctact on the Ruby on Rails Tutorial al the 
  		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  		sample application.
	</p>